/* ------ Body ------ */

* {
  margin: 0px;
  padding: 0px;
}

body {
height: 100%;
  width: 100%;
  }

  /* ------ nav ------ */
 
nav ul {
    list-style-type: none;
    margin: 0px;
    padding: 10px;
    overflow: hidden;
    background-color: #F5E7D8;
 
  }
  
  nav ul li {
    display: inline;
    margin: 20px;
    padding: 10px;
    vertical-align: middle;
  
  }
  
  .post {
    font-size: 25px;
    color: black;
    font-style: bold;
    font-family: Arial, Helvetica, sans-serif;
    letter-spacing: 0px;
    margin-left: 350px;
  }

  .log {
    font-family: Arial, Helvetica, sans-serif;
    border-radius: 100%;
    border-style:solid;
    border-width: 2px 2px 2px 2px;
    padding:9px;
    padding-bottom:0.125em;
    cursor:pointer;
    margin:10px;
    border-color: grey;
    font-size: 15px;
    

  }

  .sign {
    background-color: black;
    border-color: black;
    color: #F5E7D8;
      position:relative;
      font-family: Arial, Helvetica, sans-serif;
      border-radius: 100%;
    border-style: solid;
    border-width: 2px 1px 2px 2px;
    padding:9px;
    padding-bottom:0.125em;
    cursor:pointer;
    margin:10px;
   font-size: 15px;
   bottom: 25px;
  }

  /* ------ herosection ------ */

  #hero {
    height: 100vh;
    width: 100vh;
    background-color: #F5E7D8;
  }


  #heroimg {
    height: 170px;
    width: 175px;
    display: block;
  margin-left: auto;
  margin-right: auto;
  }

  #herotext {
    text-align: center;
    color: black;
    font-family: Arial, Helvetica, sans-serif;
    font-style: normal;
    font-size: 25px;
  }


  #searchbar {
    
    height: 40px;
    width: 350px;
    text-align: center;
    background: linear-gradient(to right, white 87%, rgb(89, 180, 124) 0%);
    margin-right: auto;
    margin-left: auto;
    border-style: solid;
    border-color: lightslategray;
    border-width: .5px .5px .5px .5px;
  }

  
  #searchbar2 {
    height: 40px;
    width: 350px;
    text-align: center;
    background: white;
    margin-left: 540px;
    border-style: solid;
    border-color: lightslategray;
    border-width: 1px .5px .5px .5px;
    margin-right: auto;
    margin-left: auto;
  }
 
  #searchbar3 {
    height: 40px;
    width: 350px;
    text-align: center;
    background: white;
    margin-left: 540px;
    border-style: solid;
    border-color: lightslategray;
    border-width: 1px .5px .5px .5px;
    margin-right: auto;
    margin-left: auto;
  }

  .tables {
    height: 50px;
    width: 50px;
  }