/* ------ Body ------ */

* {
  margin: 0px;
  padding: 0px;
}

body {
  width: 100%;
  }

  /* ------ navbar ------ */
 
nav ul {
    list-style-type: none;
    margin: 0px;
    padding: 10px;
    overflow: hidden;
    background-color: #F5E7D8;
 
  }
  
  nav ul li {
    display: inline;
    margin: 20px;
    padding: 10px;
    vertical-align: middle;
  
  }
  
  .post {
    font-size: 25px;
    color: black;
    font-style: bold;
    font-family: Arial, Helvetica, sans-serif;
    letter-spacing: 0px;
    margin-left: 350px;
  }

  .log {
    font-family: Arial, Helvetica, sans-serif;
    border-radius: 100%;
    border-style:solid;
    border-width: 2px 2px 2px 2px;
    padding:9px;
    padding-bottom:0.125em;
    cursor:pointer;
    margin:10px;
    border-color: grey;
    font-size: 15px;
    

  }

  .sign {
    background-color: black;
    border-color: black;
    color: #F5E7D8;
      position:relative;
      font-family: Arial, Helvetica, sans-serif;
      border-radius: 100%;
    border-style: solid;
    border-width: 2px 1px 2px 2px;
    padding:9px;
    padding-bottom:0.125em;
    cursor:pointer;
    margin:10px;
   font-size: 15px;
   bottom: 25px;
  }

  /* ------ herosection ------ */

  #hero {
    height: 100vh;
    width: 100vw;
    background-color: #F5E7D8;
  }


  #heroimg {
    height: 170px;
    width: 175px;
    display: block;
  margin-left: auto;
  margin-right: auto;
  }

  #herotext {
    text-align: center;
    color: black;
    font-family: Arial, Helvetica, sans-serif;
    font-style: normal;
    font-size: 25px;
  }


  #searchbar {
    
    height: 40px;
    width: 350px;
    text-align: center;
    background: linear-gradient(to right, white 87%, rgb(89, 180, 124) 0%);
    margin-right: auto;
    margin-left: auto;
    border-style: solid;
    border-color: lightslategray;
    border-width: .5px .5px .5px .5px;
  }

  
  #searchbar2 {
    height: 40px;
    width: 350px;
    text-align: center;
    background: white;
    margin-left: 540px;
    border-style: solid;
    border-color: lightslategray;
    border-width: 1px .5px .5px .5px;
    margin-right: auto;
    margin-left: auto;
  }
 
  #searchbar3 {
    height: 40px;
    width: 350px;
    text-align: center;
    background: white;
    margin-left: 540px;
    border-style: solid;
    border-color:lightslategray;
    border-width: 1px .5px .5px .5px;
    margin-right: auto;
    margin-left: auto;
  }

.table1 {
height: 472px;
width: 300px;
margin-left: 300px;
top: 100px
}

.table2  {
    height: 472px;
    width: 300px;
    margin-left: 700px;
    top: 100px;
    }

/* ------ Discover Section ------ */


#discovercontainer {
  margin-left: 400px;
  margin-right: 400px;
}

#discoverimage {
  margin-left: 500px;
}

#discovertext {
  float: left;
}

.discovertext1 {
font-family: Arial, Helvetica, sans-serif;
font-size: 35px;

}

.discovertext2 {
font-family: Arial, Helvetica, sans-serif;
font-size: 15px;
color: lightslategray;
line-height: 1.5;
}

.phonebar {
height: 40px;
width: 350px;
text-align: center;
background: white;
border-style: solid;
border-color: lightslategray;
border-width: .5px .5px .5px .5px;
color: lightslategray;
font-family: Arial, Helvetica, sans-serif;
}

.text {

background-color: rgb(89, 180, 124);
border-color: rgb(89, 180, 124);
color: white;
  position:relative;
  font-family: Arial, Helvetica, sans-serif;
  border-radius: 50%;
border-style: solid;
border-width: 2px 4px 2px 27px;
padding:9px;
padding-bottom:0.125em;
cursor:pointer;
margin-right: 300px;
font-size: 15px;
bottom: 30px;
text-transform: uppercase;  
}

.phones {
  display: inline-block;
  height: 400px;
  width: 500px;
}

/* ------ Explore Section ------ */

.exploretext {
  border-color: lightslategray;
  margin-left: 400px;
 margin-right: 400px;
 border-width: 0px 0px .5px 0px;
  border-style: solid;
}

#locations {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 18px;
  margin-left: 400px;
  margin-right: 400px;
}

/* ------ Deliver Section ------ */

#deliver {
  margin-right: 400px;
  margin-left: 400px;
}

#delivertext {
  margin-left: 500px;
 
}

#deliverimage {
  float: left;
}

.banana {
  height: 300px;
  width: 400px;
}

.delivertext1 {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 38px;
}

.delivertext2 {
  color: lightslategray;
  font-size:15px;
  font-family: Arial, Helvetica, sans-serif;
  line-height: 1.5;
}

/* ------ Unlimited Section ------ */

#unlimitedcontainer {
  background-color: rgb(238, 238, 238);
  height: 180px;
  width: 100%;
}

#unlimited {
 margin-left: 400px;

 }

#unlimitedtext {
float: left;
}

#unlimitedimage {
margin-left: 530px;
}

.unlimitedimage1 {
  height: 180px;
  width: 500px;
}

.unlimitedtext1 {
font-family: Arial, Helvetica, sans-serif;
font-size: 24px;
}

.unlimitedtext2 {
  color: lightslategray;
  font-size:15px;
  font-family: Arial, Helvetica, sans-serif;
  line-height: 1.5;
  
}

.unlimitedtext3 {
  color: rgb(89, 180, 124);
  font-size:12px;
  font-family: Arial, Helvetica, sans-serif;
  text-transform: uppercase;
}

/* ------ Flavor Section ------ */

#flavor {
  margin-right: 400px;
  margin-left: 400px;
}

#flavortext {
  float: left;
}

#flavorimage {
margin-left: 600px;
}

#bag {
  height: 300px;
  width: 350px;
}

.flavortext1 {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 36px;
}

.flavortext2 {
font-family: Arial, Helvetica, sans-serif;
font-size: 15px;
color: lightslategray;
line-height: 1.5;
}

.flavortext3 {
  background-color: rgb(89, 180, 124);
border-color: rgb(89, 180, 124);
color: white;
  position:relative;
  font-family: Arial, Helvetica, sans-serif;
  border-radius: 50%;
border-style: solid;
border-width: 2px 4px 2px 6px;
padding:9px;
padding-bottom:0.125em;
cursor:pointer;
margin-right: 300px;
font-size: 15px;
text-transform: uppercase;  
}

/* Gift Section */

#gift {
  margin-right: 400px;
  margin-left: 400px;
}

#giftimage {
  float: left;
}

#cards {
  height: 300px;
  width: 450px;
}

#gifttext {
  margin-left: 600px;
}

.gifttext1 {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 36px;
}

.gifttext2 {
font-family: Arial, Helvetica, sans-serif;
font-size: 15px;
color: lightslategray;
line-height: 1.5;
}

.gifttext3 {
  background-color: rgb(89, 180, 124);
  border-color: rgb(89, 180, 124);
  color: white;
    position:relative;
    font-family: Arial, Helvetica, sans-serif;
    border-radius: 50%;
  border-style: solid;
  border-width: 4px 4px 2px 15px;
  padding:9px;
  padding-bottom:0.125em;
  cursor:pointer;
  margin-right: 320px;
  font-size: 15px;
  text-transform: uppercase;  
}

/* Ready Section */

#ready {
  height: 300px;
  width: 100%;
  background-color: rgb(243, 221, 224);
  padding-top: 100px;
}

#readytext {
  text-align: center;
}

#address {
  height: 40px;
  width: 350px;
  text-align: center;
  background: linear-gradient(to right, white 87%, rgb(89, 180, 124) 0%);
  margin-right: auto;
  margin-left: auto;
  border-style: solid;
  border-color: lightslategray;
  border-width: .5px .5px .5px .5px;

}

.readytext1 {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 48px;
}

.readytext2 {
font-family: Arial, Helvetica, sans-serif;
font-size: 15px;
line-height: 25px;
}

/* Footer */

#footer {
  background-color: black;
  padding-top: 80px;
  height: 740px;
  width: 100%;
}

#footertext {
  margin-left: 400px;
  margin-right: 400px;
  text-transform: uppercase;
}

#footertext2 {
  margin-left: 583px;
  margin-right: 400px;
  color: gray;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 13px;
}

#footerbreak {
  border-color: gray;
  margin-left: 400px;
 margin-right: 400px;
 border-width: 0px 0px .5px 0px;
  border-style: solid;
}

#footerend {
  margin-left: 400px;
  margin-right: 400px;
}

.footertext3 {
  color: rgb(139, 138, 138);
  font-size: 15px;
  font-family: Arial, Helvetica, sans-serif;
}

.footertext4 {
  color: rgb(70, 70, 70);
  font-size: 14px;
  font-family: Arial, Helvetica, sans-serif;
  line-height: 21px;
}